@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg: #909090;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-bg: #2f2f2f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-bg);
}

ul.navbar li {
  float: left;
}

ul.navbar li.right{
  float: right;
}

li div{
  display: block;
  color: var(--foreground);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@keyframes fall {
  from {
    transform: translateY(-10vh);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
